
html,body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
    background: #0f172a;
    color: rgba(229, 231, 235, 0.89)
}
@font-face {
    font-family: geomanist;
    src: url(Geomanist-Regular.otf);
}

.font-geomanist {
    font-family: geomanist, sans-serif;
}
